body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    background-color: brown;
    color: #fff;
    padding: 10px 70px;
    justify-content: space-between;
}
header ul{
    display: flex;
    gap: 40px;
}
header li {
    list-style: none;
}
#Turma {
    text-align: center;
    padding: 20px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: bisque;
}
.TextEsq {
    text-align: center;
    padding: 20px 70px;
    align-items: right;
    justify-content: space-between;
    background-color: bisque;
}
.imagem img{
    align-items: left;
    width: 30vw;
    height: 60vh;
}

